.App {
  text-align: center;
}

.header {
  border: 1px solid blue;
  margin: 50px auto;
  display: block;
}

.ToDoList {
  text-decoration: none;
}
.tasks {
  border: 1px solid rgb(199, 238, 240);
  margin: 50px auto;
  background-color: rgb(199, 238, 240);
  display: block;
}

.completedTask {
  background-color: aliceblue;
  text-decoration: line-through;
}

.toDo {
  text-align: left;
  margin-left: 10%;
}

.dueDate {
  text-align: right;
  margin-left: 60%;
}

.finishedtasks {
  border: 1px solid blue;
  margin: 50px auto;
  background-color: #727883;
  text-decoration-line: line-through;
  display: block;
}
